<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<body>
    <div ng-app="myApp" ng-controller="MyCtrl">
        <br>
        <div class="form-group" style="margin-left: 50px; width : 500px">
            <label for="fname">First Name : </label>
            <input type="text" class="form-control" id="fname" ng-model="firstName">
        </div>
        <div class="form-group" style="margin-left: 50px; width : 500px">
            <label for="lname">Last Name: </label>
            <input type="text" class="form-control" id="lname" ng-model="lastName">
        </div>
        <br>
        <h2 style="margin-left: 50px;">Full Name: {{firstName + " " + lastName}}</h2>
        <!-- ------------------------------------------------------------------------------ -->
        <div ng-init="friends = [{name:'John', age:25}, {name:'Mary', age:28}]" style="margin-left: 50px;">
            I have {{friends.length}} friends. They are:
            <ul>
                <li ng-repeat="friend in friends">
                    [{{$index + 1}}] {{friend.name}} who is {{friend.age}} years old.
                </li>
            </ul>
        </div>
        <!-- ------------------------------------------------------------------------------ -->
    </div>
    <script>
    var app = angular.module('myApp', []);
    // --------------------------------------
    app.controller('MyCtrl', ['$scope', function ($scope) {
    	
    }]);	
    // --------------------------------------
    </script>
</body>

</html>
